$black: #10191f;
$blackLight: lighten($black, 10%);
$white: #ffffff;
$whiteDark: rgba($white, .8);
 
$grey: #F8F8F8;
$darkgrey: #C4C4C4; 
$accent: #e7004b;
$darkaccent: #2A4285F0;
$main: #2A4285;
$mainLight: rgba($main, .8);
  
$mainFont: 'Raleway', sans-serif; 
 

* {
	box-sizing: border-box; 
}

.gradient-background{
	fill: $accent

}


.navbar {
	position: fixed;
	z-index: 999999;
	top: 3rem;
	transition: top 500ms ease 0s;
	width: 100%;

	height: 70px;
	display: flex;
	justify-content: center;
	align-content: center;

	.wrapper{
		display: flex;
		justify-content: center;
		align-content: center;
	}
	   
	.navigation {
		margin: 0 ;
		width: 100%;
		.logo {
			display: flex;
			align-content: center;
			cursor: pointer;
			transition: transform 500ms ease 0s;

			&:hover {
				transform: scale(1.05);
				transition: transform 500ms ease 0s;
			}

			.svg-btn {
				display: flex;
				align-items: center;
				cursor: pointer;

				.logo-svg {
					cursor: pointer;

				}

			}
		}

		.nav {
			display: flex;
			
			justify-content: flex-end;
			align-items: center;
			align-content: center;
			flex-flow: wrap;
			.navigation-wrapper {
				display: flex;
				justify-content: flex-end;
				height: 100%;
				ul {
					display: flex;
					color: $white;

					li {
						display: flex;
						// margin: 0 0.8rem;
						margin: 0;
						cursor: pointer;

						.link {
							// padding: 0.5rem 1.5rem;
							padding: 0;
							color: $whiteDark;
							&.active-section{
								font-weight: bold;
							}
						}

						&.cta {
							border: 2px $whiteDark solid;
							border-radius: 1rem;
							margin-left: 1.5rem;
						}

						&.active {
							background: #ffffff12;
						}

						&:hover {
							&.cta{
								background-color: $accent;
								border-color: $accent;
								color: $black;

							}
							.link {
								color: $white;
							}
						}
					}
				}
			}
		}
	}

	&.scrolled {
		background: linear-gradient(100deg, #10191f 0%, #1a1919 100%);
		top: 0;
		transition: top 500ms ease 0s;
		box-shadow: 0px 4px 10px rgba(19, 5, 6, 0.44);

		
	
	}

	.nav{
		position: relative;
	}

	.navigation-wrapper {
		display: flex;
		height: 0;
		width: 0;
		z-index: -9;
		position: absolute;
		right: -100%;
		max-height: 44px;

		ul {
			display: flex;


			li {
				display: flex;

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 1rem;
				}
			}
		}
		&.active{
			max-height: none;
			height: 100vh;
			width: 100vw;
			background: $black;
			position: fixed;
			top: 0;
			left: 0;
			flex-flow: row;
			z-index: 99;
			justify-content: center;
			align-items: center;
			.navigation{
				flex-flow: column;
				padding: 5rem;

				text-align: center;
				li{
					justify-content: center;
					padding: 1rem ;
					.link{
						padding: 1rem !important;
					}
					&.cta{
						border: none !important;
						margin: 0 !important;
					}
					&:hover{
						box-shadow: 0px 0px 10px #0000003b;
					}
				}
			}
		}
	}

	.hamburger-container {
		display: flex;
		margin-left: auto;
		position: relative;
		width: 30px;
		height: 24px;
		cursor: pointer;
		opacity: 0.8;
		z-index: 999;

		span {
			position: absolute;
			width: 30px;
			height: 4px;
			transition-duration: 75ms;
			background-color: $white;
			display: block;

			// transition: all 450ms linear;
			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
				top: 50%;
				transform: translate(0, -50%);
			}

			&:nth-child(3) {
				top: calc(100% - 4px);

			}
		}

		&:hover {
			opacity: 1;
		}

		&.active {
			span {
				background-color: #fff;

				&:nth-child(1) {
					animation: hb_one 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				}

				&:nth-child(2) {
					animation: hb_two 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
				}

				&:nth-child(3) {
					animation: hb_three 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				}
			}
		}

		&.animate-reverse {
			span {
				&:nth-child(1) {
					animation: hb_one_rev 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				}

				&:nth-child(2) {
					animation: hb_two_rev 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				}

				&:nth-child(3) {
					animation: hb_three_rev 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
				}
			}
		}
	}

	// responsive

	@media (min-width: 900px) {
		.hamburger-container {
			display: none;

		}
		
		.navigation{

			.nav{

				.navigation-wrapper {
					height: auto;
					width: auto;
					z-index: inherit;
					position: relative;
					right: 0;

					.navigation {
						display: flex;
						color: red;
						li {
							display: flex;
							margin: 0 0.8rem;
							.link {
								display: flex;
								justify-content: center;
								align-items: center;
								padding: 0.5rem 1.5rem;
							}
						}
					}
				}
			}
		}
	}
}

.hero {
	position: relative;
	min-height: 85vh;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;

	

	
	.wrapper {
		display: flex;
		align-items: center;
		padding: 100px 0 150px 0;
		margin-top: calc(3rem + 70px);
	}

	.container { 
		.hero-text {
			z-index: 10;
			.title {
				color: $white;
				margin-bottom: 2rem;
				font-size: 3rem;
				&::selection {
					background-color: $accent !important;
					color: #fff !important;
				}
				
				
			}
			span{
				&::selection {
					background-color: $white !important;
					color: $accent;
				}
			}

			.text {
				color: $white;
				font-size: 1.3rem;

				padding: 0;
			}
		}
	}
	// responsive
	
	@media (min-width: 900px) {
		.container { 
			.hero-text {
				.title {
					font-size: 4rem;
				}
	
				.text {
					padding-right: 5rem;
				}
			}
		}
	}

	
}

.background-container{
	background: linear-gradient(100deg, #10191f 0%, #1a1919 100%);
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;

}

.svg-container{
	display: none;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 2;
	bottom: -1px;
	top: auto;
	height: 264px;
	.svg{
		height: auto;
		width: 100%;
		position: absolute;
		bottom: 0;
		path{
			fill: white;
		}
	}
}

@media (min-width: 600px) {
	.svg-container{
		display: block;
	}
}

.footer{
	position: relative;
	margin-top: 10vh;
	padding-top: 26px;
	min-height: 450px;
	display: flex;
	align-items: flex-end;

	.svg-container{
		top: 0;
		height: 23px;
		.svg{
			top: 0;

		}
	}
	.navigation{
		width: 100%;
		position: relative;
	}

	.wrapper {
		display: flex;
		.content{
			display: flex;
			flex-flow: row wrap;
			color: $white;
			margin-top: 3rem;
			.content-item{
				flex: 1 0 100%;
				display: flex;
				justify-content: center;
				text-align: center;
				padding: 1rem;
				li{
					padding-bottom: 0.5rem;
					cursor: pointer;
					&.title{
						font-weight: bold;
						font-size: 1.2rem;
						padding-bottom: 1rem;
						&:hover{
							color: $white;
						}
					}
					&:hover{
						font-weight: bold;
						color: $accent;
					}
				}
				&.scroll-top{
					justify-content: center;
					align-items: flex-start;
					button{
						height: auto;
						padding: 1rem;
						display: flex;
						flex-flow: column;
						justify-content: center;
						align-items: center;
						svg{
							width: 1.5rem;
							height: 1.5rem;
						}
						.text{
							font-size: 1rem;
						}
					}
					.icon{
						padding: 0.5rem;
						display: flex;
						justify-content: center;
						align-items: center;
						transition: all 450ms ease;
			
					}
				
					&:hover{
						.icon{
							transform: translateY(-10px);
							transition: all 450ms ease;
							path{
								fill: $accent;
							}
						}
					}

				}
			}
		}
		.credit{
			border-top: 2px #ffffff30 solid;
			margin-top: 4rem;
			display: flex;
			justify-content: center;
			align-content: center;
			padding: 2rem;
			color:white;
			a{
				&:hover{
					font-weight: bold;
					.link-highlight{
						color: $accent;
					}
				}
			}
		}
	}

	// responsive


	@media (min-width: 900px) {

	.wrapper{
		.nav {
			.menu {
				justify-content: flex-end;

				ul {
					flex-flow: row ;
				}
			}
		}
	}
	}
	@media (min-width: 900px) {
		.wrapper {
			.content{
				.content-item{
					flex: 1;
					order: 2;
					justify-content: flex-start;
					text-align: left;
					padding: 0;
					&.scroll-top{
						flex: 1 0 100%;
						order: 1;
						margin-bottom: 3rem;
					}

				}
			}
		}
	}
	@media (min-width: 1200px) {
		.wrapper {
			.content{
				.content-item{
					order: 1;
					&.scroll-top{
						flex: 1;
						margin-bottom: 0;
						order: 2;
					}
				}
			}
		}
	}

}

.usp {
	position: relative;
	background-image: url('../usp3.svg');
	background-size: cover;
	height: auto;
	padding-bottom: 150px;
	.svg-container{
		.svg{
			path{
				fill: $grey;
			}
		}
	}
	.wrapper {
		display: flex;
	}
	@media (min-width: 600px) {
		padding-bottom: 264px;
	}


	.container {
		// position: absolute;
		// top: 0;
		color: $white;
		margin: 0 auto;

		.section-content {
			display: flex;
			flex-flow: column;
			margin-top: 1.5rem;

			.usp-item {
				flex: 1;
				text-align: center;
				padding: 0.5rem;
				display: flex;
				.inner {
					padding: 2rem;
					cursor: pointer;
					max-width: 500px;
					margin: 0 auto;
					border-radius: 0.5rem;

					.usp-icon {
						margin-bottom: 3rem;

					}

					.usp-header {
						margin-bottom: 2rem;
					}

					.usp-content {
						padding: 0 2rem;

						p {
							color: $white;
						}
					}

					svg {
						transition: transform 500ms ease;
					}

					&:hover {
						box-shadow: 0px 0px 10px #0d0d0d82;
						// transition: background 350ms ease;

						svg {
							transform: scale(1.05);
							transition: transform 500ms ease;
						}
					}
				}
			}
			// responsive

			@media (min-width: 1000px) {
				flex-flow: row wrap;
			}
		}

		.section-btn {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}


.example-feature {
	display: flex;
	flex-flow: row wrap;
	margin: 10vh 0;
	align-items: flex-start;

	.feature-header {
		flex-basis: 100%;

		h3 {
			margin-bottom: 2rem;
		}
	}

	.feature-content {
		flex: 1 0 100%;
		display: flex;
		max-width: 100%;
	}

	.feature-slider {
		flex: 1 0 100%;
		max-width: 100%;
		padding: 0 2rem;
		margin: 4rem auto;
	}

	@media only screen and (min-width: 800px) {
		.feature-content {
			flex: 1;
			max-width: 50%;
		}
	
		.feature-slider {
			flex: 1;
			max-width: 50%;
			margin: 0 auto;

		}
	  }

	// SLIDER STYLING //

	.super-navigation{
		cursor: pointer;
		button{
			svg path{
				stroke: rgba($black, 0.7);
				transition: all 450ms ease;
			}
		}
		&:hover{
			button{
				svg path{
					stroke: $black;
					transform: scale(1.1);
					transition: all 450ms ease;
				}
			}
		}
	}
	.super-wrapper {
		.item {
			background: $accent;
			color: $white;
			border: 3px $accent solid;
			border-radius: 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;

		}
	
	}
	.super-indicators{
		cursor: pointer;

		.super-indicator{
			.super-indicator-inner{
				background: rgba($black, 0.7);
				transition: background 450ms ease;

			}
			&:hover{

				.super-indicator-inner{
					transform: scale(1.1);
					background: rgba($black, 0.9);
					transition: background 450ms ease;

				}
			
			}
			&.active{
				.super-indicator-inner{
					background: $accent;
				}
			
			}
		}
		
	}
}

.table-features{
	form{
		display: flex;

		flex-flow: row;
		
		justify-content: flex-end;
		
		padding: 3rem 1rem;
		.search-field-wrapper{
			position: relative;
			&::after{
				content: '';
				position: absolute;
				top: 50%;
				right: 0.5rem;
				background-image: url("../search.svg");
				background-size: cover;
				height: 1.8rem;
				width: 1.8rem;
				transform: translate(0, -50%);
				cursor: pointer;
				opacity: 1;
				transition: opacity 450ms ease;

			}
			&:hover{
				&::after{
					opacity: 0;
					transition: opacity 450ms ease;
				}				
			}
		}
		#search-field {
			border: 2px $black solid;
			border-radius: 0.5rem;
			padding: 1rem 2.3rem 1rem 1.5rem;
			min-width: 200px;
			height: 50px;
			color: $black;
			font-size: 0.8rem;
			cursor: pointer;
		
			
		}
  
	}
}
.feature-table {

	// table.table-content tr:hover td {
	// 	background-color: red;
	// }


	table{
		display: flex;
		flex-flow: column;
		tr{
			td{
				&:nth-child(1):hover{
					background: darken($accent, 10%);
					
				}
				&::before{
					min-width: 100px;
					font-weight: bold;
				}
				&.feature-type{
					position: relative;
					flex-flow: column;

					&::before{
						content: 'Type: ';
					}
				}
				&.feature-default{
					position: relative;
					display: flex;
					flex-flow: column;
					&::before{
						content: 'Default: ';
					}
				}
				@media only screen and (min-width: 900px) {
					&.feature-default, &.feature-type, &.feature-info{
						flex-flow: row;
					}
				}
				
				&.feature-info{
					position: relative;
					flex-flow: column;

					&::before{
						content: 'Notes: ';
					}
				}
				&::before{
					padding: 0 1rem 1rem 0;

				}
				
			}
			transition: transform 350ms ease;

			&:hover{
				transform: scale(1.05);
				transition: transform 350ms ease;
			}
			
		}
		tbody{
			display: flex;
			flex-flow: row wrap;
			
			.row-section{
				display: flex;
				flex-flow: column;
				border-radius: 0.5rem;
				padding: 1rem;
				flex: 1 1 100%;
					max-width: 100%;

				td{
					display: flex;
					height: 0;
					visibility: collapse;

					&:nth-child(1){
						padding: 1rem;

						height: auto;
						visibility: visible;
						background: $black;
						// background: $accent;

						border-radius: 0.5rem;
						color: $white;
						cursor: pointer;
						
					}

				}
				&:hover{
					td{
						
						&:nth-child(1){
							background: $accent;

						}

					}

				}
				&.hidden{
					background: red;
				}
				&.active{
					position: relative;
					
					td{
						padding: 1rem;

						z-index: 10;
						height: auto;
						visibility: visible;
						&:nth-child(1){
							border-bottom-left-radius: 0;
							border-bottom-right-radius: 0;
						}
					}
					&:before{
						content: '';
						position: absolute;
						z-index: 9;
						top: 1rem;
						left: 1rem;
						width: calc(100% - 2rem);
						height: calc(100% - 2rem);
						background: $white;
						border-radius: 0.5rem;
						box-shadow: 0px 4px 10px rgba(19, 5, 6, 0.1);

					}
				}
				&.header{
					display: none;
				}

			}
		}
	}
	// responsive

	@media (min-width: 900px) {

		table{
			tbody{
				.row-section{
					
					flex: 1 1 50%;
				max-width: 50%;
				}
			}
		}
	}
	
	
}





// globals



.svg-background {
	max-width: 100%;
	height: auto;
}

.greybg {
	background-color: $grey;
}

.guide-step {
	margin: 4rem 0;

	&:nth-child(1) {
		margin-top: 2rem;
	}

	.step-header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		text-align: center;
		.stage-indicator{
			margin: 0.5rem;
		}
	}

	.step-content {
		&.code-wrapper {
			margin: 1rem 0;
		}
	}

	// responsive

	@media (min-width: 600px) {
		.step-header {
			text-align: left;
			display: flex;
			flex-flow: revert;
			justify-content: flex-start;
			.stage-indicator{
				margin-right: 1rem;
			}
		}
		.step-content {
			&.code-wrapper {
				margin: 1.5rem 0 1.5rem 3rem;
			}
		}
	}
}


.code-wrapper {
	padding: 1rem;
	background: $white;
	border-radius: 0.5rem;
	box-shadow: 0px 4px 10px rgba(19, 5, 6, 0.1);
	position: relative;
	z-index: 1;
	pre {
		width: 100%;

		span {
			padding: 0 0.1rem;
		}
	}

	.copy-code {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1rem;
		background:$white;
		border-radius: 0.5rem;
		color: $blackLight;
		cursor: pointer;
		span{
			text-transform: capitalize;
		}
		&:hover{
			color: $black;
			span{
				font-weight: bold;
			}
		}
		&.success{
			color: $accent;
		}
	}
}

.option-container {
	display: flex;
	margin: 3rem 0;
	flex-flow: column;

	.option {
		flex: 1;
		display: flex;

		.inner {
			display: flex;
			padding: 2rem;
			flex: 1;
			flex-flow: column;
			align-items: center;
			.stage-indicator{
				margin: 0 2rem 2rem 2rem;
			}
		}
	}

	.option-content {
		display: inline-block;
		flex: 1;

		.option-header {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-basis: 100%;
		}

		.options {
			margin-top: 2rem;
			flex-basis: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			.option-btn {
				flex-basis: 100%;

				.cta-btn {
					display: flex;
					width: 100%;
					justify-content: center;
					margin: 0 0 2rem 0;
				}
			}
		}

	}
	// responsive

	@media (min-width: 600px) {
		flex-flow: row wrap;

		.option {
			.inner {
				flex-flow: row;
				align-items: flex-start;
				.stage-indicator{
					margin: 0 1rem 0 0;
				}
			}
		}
	}
}






.stage-indicator {
	background: $darkgrey;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 10px rgba(19, 5, 6, 0.1);
	margin-right: 1rem;

	span {
		color: $white;
		text-transform: uppercase;
	}
}


.section-header {
	text-align: center;

	h2.title {
		margin: 5rem 0 3rem 0;
	}
}


button {
	background: none;
	cursor: pointer;

}

.modal-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 999999;
	display: flex;
	justify-content: center;
	align-items: center;
	background:	#0009;
	.code-wrapper{
		max-width: 90%;
	}
}

.cta-btn {
	background-color: $accent;
	padding: 1rem 2rem;
	border: 2px $accent solid;
	border-radius: 1rem;
	color: $white;
	display: inline-block;
	margin-top: 3rem;
	font-size: 1.1rem;
	cursor: pointer;
	transition: all 450ms ease;
	z-index: 10;
	
	&:hover {
		background-color: transparent;
		border-color: $white;
		color: $white;
		transform: translateY(-10px);
		transition: all 450ms ease;
	}

	&.download-btn {
		background-color: $white;
		border-color: $black;
		color: $black;

		&:hover {
			background-color: $accent;
			border: 2px $accent solid;
			color: $white;
		}

		&.selected {
			background-color: $accent;
			border: 2px $accent solid;
			color: $white;

		}
	}
}


// animations

@keyframes hb_one {
    0% {
        top: 0
    }

    50% {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%)
    }

    100% {
        top: 50%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
}


@keyframes hb_two {
    0% {
    }

    100% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
}


@keyframes hb_three {
    0% {
        top: calc(100% - 4px)
    }

    100% {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        opacity: 0
    }
}

@keyframes one_top_rev {
    0% {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes two_top_rev {
    0% {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%)
    }

    100% {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%)
    }
}


@keyframes hb_one_rev {
    0% {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    50% {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        top: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}


@keyframes hb_two_rev {
    0% {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }

    100% {
        top: 50%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%)
    }
}


@keyframes hb_three_rev {
    0% {
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        opacity: 0
    }

    100% {
        top: calc(100% - 4px);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }
}






// text

* {
	font-family: $mainFont;

}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	&.title {
		span.highlight {
			color: $accent;
		}
	}
}

h1.title {
	font-size: 3rem;
	line-height: 150%;
}

h2.title {
	font-size: 2.5rem;
	line-height: 150%;
}

h3.title {
	font-size: 1.5rem;
	line-height: 150%;
}


p {
	color: $black;
	font-family: $mainFont;
	font-weight: lighter;
	font-size: 1.1rem;
	line-height: 150%;
	&.featured{
		font-size: 1.4rem;

	}
}

span{
	color: inherit;
	font-family: $mainFont;
	font-weight: inherit;
	
}


ul {
	li {
		font-weight: 400;
		line-height: 150%;


	}
}



// prism


code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
	background: $black;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #D95345;
	padding: 0 0.3rem;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}